<template>
  <q-page class="flex flex-center">
    El estado de la bateria es: {{ batteryStatus }}
    <q-btn color="primary" label="Get Picture" @click="captureImage" />
    <img :src="imageSrc">
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      batteryStatus: 'aun no se....',
      imageSrc: ''
    }
  },
  methods: {
    updateBatteryStatus (status) {
      this.batteryStatus = status.level
    },
    captureImage () {
      navigator.camera.getPicture(
        data => { // on success
          this.imageSrc = `data:image/jpeg;base64,${data}`
        },
        () => { // on fail
          this.$q.notify('Could not access device camera.')
        },
        {
          // camera options
        }
      )
    }
  },
  created () {
    window.addEventListener('batterystatus', this.updateBatteryStatus, false)
  },
  beforeDestroy () {
    window.removeEventListener('batterystatus', this.updateBatteryStatus, false)
  }
}
</script>
