<template>
  <div id="app">
    <router-link to="/cliente">ABM Clientes</router-link>

    <router-view></router-view>
  </div>
</template>

<script>
import router from './router';

export default {
  name: 'app',
  router      // es igual a router:router
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
