<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Parte 1</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
       <input type="text" v-model="nombre"/>
       <input type="text" v-model="apellido"/>
       <hr />
       {{ nombreCompleto }}
    </div>

    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                nombre: "",
                apellido: "",
            },
            computed: {
                nombreCompleto: function() {
                    var aux = "";
                    if (this.nombre === "")
                        aux = this.apellido;
                    else
                        aux = this.apellido + ", " + this.nombre;

                    return aux;
                }
            }
            
        });
        window.vue = vue;
        
    </script>
</body>

</html>