<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Getter & Setter</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <input type="text" v-model="nombreCompleto" />
        <h4>{{apellido}}</h4>
        <h4>{{nombre}}</h4>
    </div>

    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                apellido: "",
                nombre: ""
            },
            computed: {
                nombreCompleto: {
                    get: function() {
                        return this.apellido + ", " + this.nombre;
                    },
                    set: function(valor) {
                        var partes = valor.split(", ");
                        this.apellido = partes[0];
                        this.nombre = partes[1];
                    }
                }
            }
            
        });
        window.vue = vue;
        
    </script>
</body>

</html>