<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Methods vs Computed</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <h4> Computed:  {{ propComputed }}</h4>
        <h4> Computed:  {{ propComputed }}</h4>
        <h4> Metodo:  {{ unMetodo() }}</h4>
        <h4> Metodo:  {{ unMetodo() }}</h4>
    </div>

    <script>
        var vue = new Vue({
            el: "#app",
            computed: {
                propComputed: function() {
                    return Math.random();
                }
            },
            methods: {
                unMetodo: function() {
                    return Math.random();
                }
            }
            
        });
        window.vue = vue;
        
    </script>
</body>

</html>