<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Componentes Bindeo</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <componenteuno v-on:mievento="cambiarMensaje"></componenteuno>
        <hr />
        <componentedos v-bind:msg_comp="mensaje"></componentedos>
        <hr />
        {{ mensaje }}
    </div>

    <script>
        Vue.component('componenteuno', {
            template: '<div><input type="text" v-model="mensaje_componente" ' +
                '      v-on:keyup.enter="notificarCambio()" >' +
                '<br />{{mensaje_componente}}' +
                '</div>',
            data: function () {
                return {
                    mensaje_componente: '--'
                }
            },
            methods: {
                notificarCambio: function () {
                    this.$emit('mievento', this.mensaje_componente);
                }
            }
        });

        Vue.component('componentedos', {
            template: '<div><h2>{{ msg_comp }}</h2></div>',
            props: {
                msg_comp: String
            }
        })

        var vue = new Vue({
            el: "#app",
            data: {
                mensaje: "??"
            },
            methods: {
                cambiarMensaje: function (valor) {
                    this.mensaje = valor;
                }
            }

        });

    </script>
</body>

</html>