<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Parte 1</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        {{ nombre }}
        <br />
        {{ saludar() }}
    </div>

    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                nombre: "Mobile Hibrida"
            },
            methods: {
                saludar: function() {
                    return "Hola, " + this.nombre;
                }
            }
        });
        
    </script>
</body>

</html>