<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Componentes Con eventos</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>VueJS: Componentes</h1>

    <div id="app">
        <componenteuno></componenteuno>
    </div>

    <script>
        Vue.component('componenteuno', {
            template: '<div v-on:mouseover="cambiarNombre()" ' +
                      '     v-on:mouseout="cambiarOriginal()" >' +
                      '   <span id="span_nombre">{{ nombre }} </span> ' +
                      '</div> ',
            data: function() {
                return {
                    nombre: "Gabriel",
                    nacionalidad: "Argentina",
                    manos: 2
                }
            },
            methods: {
                cambiarNombre: function() {
                    this.nombre = "Martin";
                },
                cambiarOriginal: function() {
                    this.nombre = "Gabriel";
                }
            }
        });

        var vue = new Vue({
            el: "#app",
        })
    </script>
</body>

</html>