<template>
  <q-page class="flex flex-center">
    <input type="text" v-model="datoIndex" v-on:keypress.enter="cambiar" />
    <label>{{ datoIndex }}</label>
    <uno prop2="sarasa" v-bind:prop1="datoIndex"></uno>
    <q-badge color="blue">
      {{ verRol }}
    </q-badge>
    <q-badge color="yellow">
      {{ verContador }}
    </q-badge>
  </q-page>
</template>

<style>
</style>

<script>
import Uno from '../components/Uno'

export default {
  components: {
    Uno
  },
  name: 'PageIndex',
  data: function () {
    return {
      datoIndex: ''
    }
  },
  computed: {
    verRol: function () {
      return this.$store.state.rol
    },
    verContador: function () {
      return this.$store.getters.getContador
    }
  },
  methods: {
    cambiar: function (eventObject) {
      this.$store.commit('cambiarRol', this.datoIndex)
    }
  },
  watch: {
    datoIndex: function (valor) {
      console.log(valor)
    }
  }

}
</script>
