<template>
    <div>
        <h2>Cliente</h2>
        <hr/>
        <router-link to="/cliente/alta">Alta</router-link>
        <router-link to="/cliente/baja">Baja</router-link>
        <router-link to="/cliente/modificar">Modif</router-link>

        <router-view></router-view>
    </div>
</template>

<script>
import router from '../router/cliente'

export default {
    name: 'Cliente',
    router
}
</script>