<template>
    <div style="background-color:red;padding:5px">
        <input type="text" v-model="datoUno"/>
        <label>{{ datoUno }}</label>
        <label>{{ prop1 }}</label>
        <label>{{ prop2 }}</label>
        <q-badge color="green">
          {{ verRol }}
        </q-badge>
    </div>
</template>

<script>
export default {
  name: 'Uno',
  props: {
    prop1: String,
    prop2: String
  },
  data: function () {
    return {
      datoUno: ''
    }
  },
  computed: {
    verRol: function () {
      return this.$store.state.rol
    }
  }
}
</script>
