<template>
    <div>
        <h2>Carrito</h2>
        <hr />
        <ul>
            <li v-for="p in productosEnCarrito">
                {{p.nombre}}  / {{p.descripcion}}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'CarritoPage',
    computed: {
        productosEnCarrito: function () {
            return this.$store.state.carro 
        }
    },
}
</script>