<template>
    <q-page>
        <h4>Productos disponibles</h4>
        
        <q-list bordered class="rounded-borders" >

            <q-item clickable v-for="p in productos" v-bind:key="p.nombre">
                <q-item-section avatar>
                    <q-icon name="warning" color="black" size="34px" />
                </q-item-section>

                <q-item-section top>
                    <q-item-label lines="1">
                        <span class="text-weight-medium">{{p.nombre}}</span>
                    </q-item-label>
                    <q-item-label caption lines="1">
                        {{ p.descripcion }}
                    </q-item-label>
                </q-item-section>

                <q-item-section top side>
                    <div class="text-grey-8 q-gutter-xs">
                        <q-btn class="gt-xs" size="12px" flat dense round icon="add_shopping_cart" 
                               v-on:click="agregarEnCarrito($event, p.nombre)"
                        />
                    </div>
                </q-item-section>
            </q-item>
        </q-list>
    </q-page>
</template>

<script>
export default {
    name: 'ProductoPage',
    data: function() {
        return {
            productoSeleccionado: null
        }
    },
    computed: {
        productos: function () {
            return this.$store.state.productos 
        }
    },
    methods: {
        agregarEnCarrito: function(event, producto) {
            let i = 0;
            while (i < this.productos.length) {
                if (this.productos[i].nombre === producto) {
                    console.log('agregar')
                    this.$store.commit('agregarEnCarrito', this.productos[i])
                }
                i++;
            }
        }
    }
}
</script>