<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Directivas</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h3 v-if="valor==0">Hola Mundo</h3>
        <!-- <h4>ENTRE 0 Y 1</h4> SE ROMPE EL IF -->
        <h2 v-else-if="valor==1">Uno</h2>
        <h2 v-else-if="valor==2">Dos</h2>
        <h1 v-else>Chau!</h1>
        <input type="text" v-model="valor">
    </div>

    <script>
        
        var vue = new Vue({
            el: "#app",
            data: {
                valor: 0
            }
        });
        window.vue = vue; // Para jugar en el browser
        
    </script>
</body>

</html>