<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Directivas</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="nro in valores">
                {{ nro.numero +'/'+ nro.texto }}
            </li>
        </ul>
    </div>

    <script>
        
        var vue = new Vue({
            el: "#app",
            data: {
                valores: [
                    { numero:'1', texto:'uno'},
                    { numero:'2', texto:'dos'},
                    { numero:'3', texto:'tres'},
                    { numero:'4', texto:'cuatro'},
                    { numero:'5', texto:'cinco'}
                ]
            }
        });
        window.vue = vue; // Para jugar en el browser
        
    </script>
</body>

</html>