<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Directivas</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h4>Nombre: {{ nombre }}</h4>
        <input type="number" v-model="edad" />
        <hr />
        <c_uno v-bind:age="edad"></c_uno>
        <c_uno :age="edad"></c_uno>
    </div>

    <script>
        Vue.component('c_uno', {
            props: {
                age: String
            },
            template: '<div><h4>Edad: {{ age }} </h4></div>'
        });

        var vue = new Vue({
            el: "#app",
            data: {
                nombre: 'Neo',
                edad: '49'
            }
        });
        window.vue = vue; // Para jugar en el browser
        
    </script>
</body>

</html>